*.pyc
/nbproject/project.xml
/nbproject/project.properties
/nbproject/project.xml
/nbproject/private/private.xml
/rSeq/.idea/encodings.xml
/rSeq/.idea/misc.xml
/rSeq/.idea/modules.xml
/rSeq/.idea/.name
/rSeq/.idea/rSeq.iml
/rSeq/.idea/vcs.xml
/rSeq/.idea/workspace.xml
